Source/Fabrica/blueprint.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           targetNamespace="http://www.geaviation.com/NG/Fabrica"
           xmlns:fabrica="http://www.geaviation.com/NG/Fabrica"
           elementFormDefault="qualified">

  <xs:element name="blueprint-list">
    <xs:complexType mixed="false">
      <xs:sequence>
        <xs:element name="blueprint" type="fabrica:blueprint-type" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="type-type" mixed="false">
    <xs:sequence>
      <xs:element name="type-param" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="fabrica:type-type" >
              <xs:attribute name="param-name" type="xs:string" use="required" />
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="fullname" type="xs:string" />
  </xs:complexType>

  <xs:complexType name="composite-type-type" mixed="false">
    <xs:attribute name="name" type="xs:string" />
  </xs:complexType>
  
  <xs:simpleType name="key-string-type">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Za-z][\[\],\(\)\{\}.A-Za-z0-9_-]*"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="dictionary-key-string-type">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Za-z][\[\],\(\)\{\}. A-Za-z0-9_-]*"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="namespace-string-type">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Za-z][A-Za-z0-9_-]*"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="composite-def-part-type" mixed="false">
    <xs:sequence>
      <xs:choice>
        <xs:element name="runtime-type" type="fabrica:type-type" minOccurs="1" maxOccurs="1" />
        <xs:element name="runtime-type-alias" type="fabrica:type-alias-ref" minOccurs="1" maxOccurs="1" />
        <xs:element name="composite-type" type="fabrica:composite-type-type" minOccurs="1" maxOccurs="1" />
      </xs:choice>
      <xs:element name="constructor" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:attribute name="name" type="fabrica:key-string-type" use="required"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="features" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:choice minOccurs="1" maxOccurs="unbounded">
            <xs:element name="feature" type="fabrica:composite-feature-value-type" />
            <xs:element name="feature-slot">
              <xs:complexType>
                <xs:attribute name="target-key" type="fabrica:key-string-type" use="required"/>
                <xs:attribute name="name" type="xs:string" use="required"/>
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="properties" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:choice minOccurs="1" maxOccurs="unbounded">
              <xs:element name="property">
                <xs:complexType>
                  <xs:attribute name="key" type="fabrica:key-string-type" use="required"/>
                  <xs:attribute name="value" type="xs:string" />
                </xs:complexType>
              </xs:element>
              <xs:element name="property-slot">
                <xs:complexType>
                  <xs:attribute name="target-key" type="fabrica:key-string-type" use="required"/>
                  <xs:attribute name="name" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:choice>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="metadata" type="fabrica:metadata-set-type" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="composite-part-ref-type">
    <xs:choice>
      <xs:element name="part" type="fabrica:composite-def-part-type" />
      <xs:element name="constant" type="fabrica:string-value-element" />
      <xs:element name="part-list" type="fabrica:composite-part-list-type" />
      <xs:element name="part-dictionary" type="fabrica:composite-part-dictionary-type" />
      <xs:element name="name-ref" type="fabrica:part-name-ref" />
      <xs:element name="id-ref" type="fabrica:part-id-ref" />
      <xs:element name="uri-ref" type="fabrica:part-uri-ref" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="composite-feature-value-type" mixed="false">
    <xs:complexContent>
      <xs:extension base="fabrica:composite-part-ref-type">
        <xs:attribute name="key" type="fabrica:key-string-type" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="composite-def-type" mixed="false">
    <xs:sequence>
      <xs:element name="part" type="fabrica:composite-def-part-type" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required" />
  </xs:complexType>

  <xs:complexType name="blueprint-type" mixed="false">
    <xs:sequence>
      <xs:element name="type-aliases" minOccurs="0" maxOccurs="1">
        <xs:complexType mixed="false">
          <xs:sequence>
            <xs:element name="alias" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="type" type="fabrica:type-type" minOccurs="1" maxOccurs="1" />
                </xs:sequence>
                <xs:attribute name="name" type="xs:string" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="composites" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
              <xs:element name="composite-def" type="fabrica:composite-def-type" />
            </xs:choice>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="parts" minOccurs="1" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
              <xs:element name="part" type="fabrica:part-type" />
              <xs:element name="part-list" type="fabrica:top-level-part-list-type" />
              <xs:element name="part-dictionary" type="fabrica:top-level-part-dictionary-type" />
              <xs:element name="external-part" type="fabrica:external-part-type" />
              <xs:element name="undefined-part" type="fabrica:undefined-part-type"/>
            </xs:choice>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="namespace" type="fabrica:namespace-string-type" use="required" />
  </xs:complexType>
  
  <xs:simpleType name="guid">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="type-alias-ref">
    <xs:attribute name="name" type="fabrica:key-string-type" use="required" />
  </xs:complexType>

  <xs:complexType name="part-name-ref">
    <xs:attribute name="name" type="xs:string" use="required" />
  </xs:complexType>
  
  <xs:complexType name="part-id-ref">
    <xs:attribute name="id" type="fabrica:guid" use="required" />
  </xs:complexType>
  
  <xs:complexType name="part-uri-ref">
    <xs:attribute name="uri" type="xs:anyURI" use="required" />
  </xs:complexType>
  
  <xs:complexType name="string-value-element">
    <xs:attribute name="value" type="xs:string" use="required" />
  </xs:complexType>

  <xs:complexType name="part-ref-type">
    <xs:choice>
      <xs:element name="name-ref" type="fabrica:part-name-ref" />
      <xs:element name="id-ref" type="fabrica:part-id-ref" />
      <xs:element name="uri-ref" type="fabrica:part-uri-ref" />
      <xs:element name="part" type="fabrica:part-type" />
      <xs:element name="constant" type="fabrica:string-value-element" />
      <xs:element name="part-list" type="fabrica:part-list-type" />
      <xs:element name="part-dictionary" type="fabrica:part-dictionary-type" />
    </xs:choice>
  </xs:complexType>
 
  <xs:complexType name="part-list-type">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="part" type="fabrica:part-type" />
        <xs:element name="name-ref" type="fabrica:part-name-ref" />
        <xs:element name="id-ref" type="fabrica:part-id-ref" />
        <xs:element name="uri-ref" type="fabrica:part-uri-ref" />
        <xs:element name="constant" type="fabrica:string-value-element" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="composite-part-list-type">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="part" type="fabrica:composite-def-part-type" />
        <xs:element name="name-ref" type="fabrica:part-name-ref" />
        <xs:element name="id-ref" type="fabrica:part-id-ref" />
        <xs:element name="uri-ref" type="fabrica:part-uri-ref" />
        <xs:element name="constant" type="fabrica:string-value-element" />
        <xs:element name="feature-slot">
          <xs:complexType>
            <xs:attribute name="name" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="top-level-part-list-type">
    <xs:sequence>
      <xs:choice>
        <xs:element name="runtime-type" type="fabrica:type-type" minOccurs="1" maxOccurs="1" />
        <xs:element name="runtime-type-alias" type="fabrica:type-alias-ref" minOccurs="1" maxOccurs="1" />
      </xs:choice>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="name-ref" type="fabrica:part-name-ref" />
        <xs:element name="id-ref" type="fabrica:part-id-ref" />
        <xs:element name="uri-ref" type="fabrica:part-uri-ref" />
        <xs:element name="part" type="fabrica:part-type" />
        <xs:element name="constant" type="fabrica:string-value-element" />
      </xs:choice>
      <xs:element name="metadata" type="fabrica:metadata-set-type" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="id" type="fabrica:guid" />
  </xs:complexType>
  
  <xs:complexType name="part-dictionary-type">
    <xs:sequence>
      <xs:element name="key-value" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:choice>
            <xs:element name="name-ref" type="fabrica:part-name-ref" />
            <xs:element name="id-ref" type="fabrica:part-id-ref" />
            <xs:element name="uri-ref" type="fabrica:part-uri-ref" />
            <xs:element name="part" type="fabrica:part-type" />
            <xs:element name="constant" type="fabrica:string-value-element" />
          </xs:choice>
          <xs:attribute name="key" type="fabrica:dictionary-key-string-type" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="composite-part-dictionary-type">
    <xs:sequence>
      <xs:element name="key-value" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:choice>
            <xs:element name="part" type="fabrica:composite-def-part-type" />
            <xs:element name="name-ref" type="fabrica:part-name-ref" />
            <xs:element name="id-ref" type="fabrica:part-id-ref" />
            <xs:element name="uri-ref" type="fabrica:part-uri-ref" />
            <xs:element name="constant" type="fabrica:string-value-element" />
            <xs:element name="feature-slot">
              <xs:complexType>
                <xs:attribute name="name" type="xs:string" use="required"/>
              </xs:complexType>
            </xs:element>
          </xs:choice>
          <xs:attribute name="key" type="fabrica:dictionary-key-string-type" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="top-level-part-dictionary-type">
    <xs:sequence>
      <xs:choice>
        <xs:element name="runtime-type" type="fabrica:type-type" minOccurs="1" maxOccurs="1" />
        <xs:element name="runtime-type-alias" type="fabrica:type-alias-ref" minOccurs="1" maxOccurs="1" />
      </xs:choice>
      <xs:element name="key-value" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:choice>
            <xs:element name="name-ref" type="fabrica:part-name-ref" />
            <xs:element name="id-ref" type="fabrica:part-id-ref" />
            <xs:element name="uri-ref" type="fabrica:part-uri-ref" />
            <xs:element name="part" type="fabrica:part-type" />
            <xs:element name="constant" type="fabrica:string-value-element" />
          </xs:choice>
          <xs:attribute name="key" type="fabrica:dictionary-key-string-type" />
        </xs:complexType>
      </xs:element>
      <xs:element name="metadata" type="fabrica:metadata-set-type" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="id" type="fabrica:guid" />
  </xs:complexType>

  <xs:complexType name="metadata-value-type" mixed="true">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="key" type="fabrica:key-string-type" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <xs:complexType name="feature-value-type" mixed="false">
    <xs:complexContent>
      <xs:extension base="fabrica:part-ref-type">
        <xs:attribute name="key" type="fabrica:key-string-type" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="metadata-set-type">
    <xs:sequence>
      <xs:element name="data" type="fabrica:metadata-value-type" minOccurs="1" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="undefined-part-type" mixed="false">
    <xs:sequence>
      <xs:element name="metadata" type="fabrica:metadata-set-type" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="id" type="fabrica:guid" />
  </xs:complexType>
  
  <xs:complexType name="external-part-type" mixed="false">
    <xs:sequence>
      <xs:element name="metadata" type="fabrica:metadata-set-type" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="id" type="fabrica:guid" />
    <xs:attribute name="part-locator-scheme" type="xs:string" />
  </xs:complexType>

  <xs:complexType name="part-type" mixed="false">
    <xs:sequence>
      <xs:choice>
        <xs:element name="runtime-type" type="fabrica:type-type" minOccurs="1" maxOccurs="1" />
        <xs:element name="runtime-type-alias" type="fabrica:type-alias-ref" minOccurs="1" maxOccurs="1" />
        <xs:element name="composite-type" type="fabrica:composite-type-type" minOccurs="1" maxOccurs="1" />
      </xs:choice>
      <xs:element name="constructor" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:attribute name="name" type="fabrica:key-string-type" use="required"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="features" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="feature" type="fabrica:feature-value-type" minOccurs="1" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="properties" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="property" minOccurs="1" maxOccurs="unbounded">
              <xs:complexType>
                <xs:attribute name="key" type="fabrica:key-string-type" use="required"/>
                <xs:attribute name="value" type="xs:string" />
                <xs:attribute name="uri" type="xs:anyURI" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="metadata" type="fabrica:metadata-set-type" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="id" type="fabrica:guid" />
    <xs:attribute name="part-locator-scheme" type="xs:string" />
  </xs:complexType>
</xs:schema>